.wrap {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-img {
  width: 120px;
  height: 208px;
}
.user-img.slide {
  width: 133.4px;
  height: 163px;
}
.user-img.jump {
  margin-bottom: 80px;
}

.user-model {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translate(-50%, 0);
}