.App {
  min-width: 1200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sky-wrap {
  flex: 1;
  position: relative;
  background: linear-gradient(to bottom, #0094ff 0%, #ddeaff 100%);
}

.ground-wrap {
  height: 150px;
  box-sizing: border-box;
  background: url('./assets/images/ground.png') #685166;
  background-repeat: repeat-x;
  background-size: 50px;
}

.total {
  position: absolute;
  font-size: 76px;
  color: #fff;
  text-align: center;
  left: 50%;
  transform: translate(-50%);
  top: 50px;
}
